@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root{
    --accent-primary: #090d0f;
    --accent-secondary: #091114f1;
    --accent-light: #6F737F;
    --accent-text-light: #ffffffc9;
    --accent-brown: #556334;
}

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    font-family: "Oswald", "Roboto", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: var(--accent-secondary);
    margin-top: 0;
}
nav{
    background-color: var(--accent-primary);
    margin-top: 0;
}
.btn{
    background-color: var(--accent-brown);
    color: var(--accent-text-light);
    border: none;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 20px;
}
/* nav section starts here */
.nav{
    display: flex;
    flex-direction: column;
    font-size: clamp(.5rem, calc(.3rem + 3vw), 1.125rem);
    color: var(--accent-text-light);
}
.link{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
    li{
        list-style: none;
        text-align: center;
        padding: 5px;
        width: 100%;
        text-transform: uppercase;
    }
    .btn{
        font-size: clamp(.3rem, calc(.1rem + 4vw), 1.125rem);
        padding:  5px;
        width: 160px;
        margin-bottom: 15px;
    }
}
.logo{
    width: 100%;
    padding: 5px;
    img{
        width: 12%;
       margin-top: 15px;
    }
}
/* Hero section starts here */
.hero{
    padding: 25px;
    .btn{
        width: 220px;
        border-radius: 50px;
        font-size: clamp(.5rem, calc(.2rem + 3vw), 1.5rem);
        padding: 3px;
    }
}
.hero-header{
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: var(--accent-text-light);
    font-size: clamp(1rem, calc(.8rem + 4vw), 6rem);
    span{
        color: var(--accent-brown);
    }
}
.hero-text{
    font-family: roboto;
    font-size: clamp(.5rem, calc(.2rem + 4vw), 1.5rem);
    color: var(--accent-text-light);
    margin: 0 auto;
}
main{
    p{
        font-family: Roboto;
        font-size: clamp(.3rem, calc(.15rem + 4vw), 1.5rem);
    }
}
.services{
    background-color: #09111411;
    padding: 1px 0 20px 0;
    h2{
        font-family: Oswald;
        font-size: clamp(.5rem, calc(.3rem + 5vw), 1.875rem);
        color: var(--accent-brown);
        margin: 10px 0 10px 0;
    }
    p{ 
        margin-bottom: 0PX;
        color: #090d0fe0;
    }
}

.detail-info{
    padding: 1px 0 20px 0;
    h3{
        font-size: clamp(.5rem, calc(.4rem + 5vw), 2.25rem);
        margin: 5px 0 5px 0;
        color: var(--accent-brown);
    }
    img{
        width: 100%;
    }
}

.sidebar{
    padding: 1px 0 25px ;
    color: var(--accent-text-light);
    h3{
        font-size: clamp(.3rem, calc(.4rem + 4vw), 1.875rem);
        margin: 5px 0 5px 0;
    }
    article{
        background-color: var(--accent-secondary);
        text-align: center;
        padding: 10px;
        margin-top: 15px;
        p{
            padding: 0 10px;
        }
    }
}
footer{
    background-color: var(--accent-primary); 
    padding: 10px;
    color: var(--accent-text-light);
    ul li{
        list-style: none;
        background-color: #090d0f;
    }
    ul{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    h2, h4{
        color: var(--accent-brown);
    }
    .quick-links{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 20px;
        .quick-links_pageNav{    

        }
        .quick-links_otherLinks{
            
        }
        .quick-links_moreLinks{
            
        }
    }
}

@media (min-width: 960px) {
   .sidebar-grid{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        article{
            margin: 10px;
        }
    }
}
@media (min-width: 1200px) {
    .nav{   
        display: flex;
        flex-direction: row;
        background-color: hsl(200, 25%, 5%);
        font-size: 1.2rem;
        color: var(--accent-text-light);
    }   
    .link{
        display: flex;
        flex-direction: row;
        padding: 10px 0 0 0;
        font-weight: 500;
        li{
            padding: 1px;
        }
        .btn{
            width: 130px;
            font-size: 1.2rem;
            padding-top: 3px;
        }
    }
    .logo{
        padding: 5px;
        img{
            width: 12%;
            margin-top: 5px;
        }
    }
    .hero{
        display: flex;
        flex-direction: row;
        padding: 80px 0 ;
    }
    .hero-header{
        flex-basis: 400px;
        text-align: left;
        padding: 0;
    }
    .hero-text{
        flex-basis: 500px;
        align-self: flex-end;
    }
    .services-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 60px 0;
        article{
            flex-basis: 320px;
            text-align: center;
        }
        p{
            font-size: 1.25rem;
        }
    }
    .detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-color: #6F737F;
        padding: 60px 0;
    }
    .detail-info{
        flex-basis: 700px;
        h3{
            font-size: 2.25rem;
        }
        p{
            font-size: 1.2rem;
        }
    }
    .sidebar{
        flex-basis: 380px; 
    }
    .sidebar-grid{
        flex-direction: column;
        p{
            font-size: 1rem;
        }
    }
    .footer{
        h2{
            text-align: center;
            font-size: 3.5rem;
        }
    }
    .footer-nav{
        display: flex;
        justify-content: space-between;
    }
    .info{
        flex-basis: 500px;
    }
    .quick-links{
        flex-basis: 500px;
    }
}